h1[data-v-6717145e]{background:linear-gradient(135deg,#fff,#ff6b35);-webkit-background-clip:text;font-size:clamp(2.5rem,5vw,3rem);font-weight:900;margin-bottom:3rem;text-align:center;-webkit-text-fill-color:transparent}
